html {
  background-color: $app-background-color;
}

.container {
  background-color: $container-background;
  margin: 2em 2em 2em 2em;
  padding: 1em 1em 1em 1em;
}

footer {
  font-size: 0.8em;
  margin-top: 1em;
}
