$base-body-background:                          #192529;
$base-body-font-family:                         "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-body-font-weight:                         normal;
$base-body-font-size:                           14px;
$base-body-line-height:                         20px;
$base-body-color:                               #444;

$base-link-color:                               #07D;
$base-link-text-decoration:                     none;
$base-link-hover-color:                         #059;
$base-link-hover-text-decoration:               underline;

$base-code-color:                               #DD0055;
$base-code-font-size:                           12px;
$base-code-font-family:                         Consolas, monospace, serif;

$base-margin-vertical:                          15px;

$base-hr-margin-vertical:                       $base-margin-vertical;
$base-hr-border:                                #ddd;
$base-hr-border-width:                          1px;

$base-heading-font-family:                      "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-heading-font-weight:                      normal;
$base-heading-color:                            #444;
$base-heading-text-transform:                   none;
$base-heading-margin-top:                       25px;
$base-h1-font-size:                             36px;
$base-h1-line-height:                           42px;
$base-h2-font-size:                             24px;
$base-h2-line-height:                           30px;
$base-h3-font-size:                             18px;
$base-h3-line-height:                           24px;
$base-h4-font-size:                             16px;
$base-h4-line-height:                           22px;
$base-h5-font-size:                             14px;
$base-h5-line-height:                           20px;
$base-h6-font-size:                             12px;
$base-h6-line-height:                           18px;

$container-background:                          #fff;
