<div class="container">
  <h2>Ember testing <code>ember-modal-dialog</code></h2>
  {{outlet}}
  <footer>
  <hr />
  You can find the source code on <a href="https://github.com/jeanleonino/ember-modals" target="_blank">Github</a>.
  </footer>
</div>
